{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home_page</title>
    <link rel="icon" type="image/x-icon" href="static/STATICFILES_DIRS/img/favicon.jpg">
    <link rel="stylesheet" type="text/html" href="../static/STATICFILES_DIRS/css/ain.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{% static 'STATICFILES_DIRS/css/ain.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>



  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
    crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://unpkg.com/java.io@2.4.0/lib/index.js"></script>

</head>
<body>

    <style>
        html{
            scroll-behavior: smooth;
        }
    </style>
    <div class="container">
        <div>
            <header>
                <a href="#second" class='nav-about'>О&nbspнас<div class="underline_a"></div></a>
                <a href="#rasp" class="nav-item">Расположение <div class="underline_r"></div></a>
                <a href="#book" class="nav-item">Забронировать <div class="underline_r"></div></a>
                <a href="" class="nav-item">Отзывы<div class="underline_r"></div> </a>
                <div class="nav-item" id="gallery">Галерея<div class="underline_r"></div></div>
                <a href="" class="call_number">+7&nbsp(911)&nbsp501-21-21<div class="underline_r"></div></a>
            </header>
        </div>
        <div class="header-down">
            <div class= "weeks">Незабываемые <br>выходные<br>на природе!
                <div class="cirkle"></div>
            </div>
            <img src="{% static 'STATICFILES_DIRS/img/houseOutside.png' %}" alt="logo" id = "house_outside">
        </div>

        <div class="down-header-down">
            <img src="{% static 'STATICFILES_DIRS/img/banyaOutside.png' %}" alt="banya" id="banya_outside">
            <div class = "rectanglepl">
                <div class = "placement">Размещение до 12 <br> человек</div>
                <div class = "line"></div>
            </div>
            <div class = "rectanglefree">
                <div class = "free">Бесплатная часовая<br>экскурсия</div>
                <div class = "linefree"></div>
            </div>
        </div>

        <div class="second" id="second"><p1 class="about_house">О нас</p1></div>

        <div class="third">
            <div class="sleep_sections">Спальные места:
                <div class="block_flats">
                    <div class="vertical_line"></div>
                    <div class="flat1_2">
                        <div class="str" style="padding-top: 0">На 1 этаже: диван в гостиной, полуторная кровать 120</div>
                        <div class="str">На 2 этаже: двуспальная кровать 160, тахта на двоих, односпальная кровать, двухярусная детская кровать</div>
                    </div>
                </div>
            </div>
            <img src="/static/STATICFILES_DIRS/img/banya_inside.png" alt="banya_inside" id="banya_inside">
        </div>

        <div class="forth">
            <img src="{% static 'STATICFILES_DIRS/img/living_room.png' %}" alt="house_inside" id="house_inside">
            <div class="plot_house">Участок и дом:
                <div class="block_flats">
                    <div class="vertical_line_plot"></div>
                    <div class="flat1_2">
                        <div class="str" style="padding-top: 0">Проведена обработка от клещей</div>
                        <div class="str">Участок 25 соток</div>
                        <div class="str">Отапливаемый деревянный гостевой дом 100м2</div>
                        <div class="str">Внутренняя отделка: натуральное дерево</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fifth">
            <div class="living"> Условия и правила проживания:
                <div class="block_flats">
                    <div class="vertical_line_living"></div>
                    <div class="flat1_2">
                        Курение в доме запрещается
                        <div class="str">При отмене бронирования менее, чем за 10 суток до <br> заезда, залог не возвращается</div>
                        <div class="str"></divclass>Отапливаемый деревянный гостевой дом 100м<sup>2</sup> </div>
                        <div class="str"></divclass>Шуметь после 22:00 на территории (улице) запрещается</div>
                        <div class="str">Возможна сдача на неделю и более длительный срок.</div>
                    </div>
                </div>
            </div>
            <img src="{% static 'STATICFILES_DIRS/img/kitchen.png' %}" alt="kitchen" id="kitchen">
        </div>

        <div class="sixth">
            <div class="icon">
                <img src="{% static 'STATICFILES_DIRS/img/mdi_playground-seesaw.png' %}" alt="" class="img">
                <p class="untxt">Детская&nbspплощадка</p>
            </div>
            <div class="icon">
                <img src="{% static 'STATICFILES_DIRS/img/wifi.png' %}" alt="" class="img">
                <p class="untxt">Wi&nbsp-&nbspFi</p>
            </div>
            <div class="icon">
                <img src="{% static 'STATICFILES_DIRS/img/ic_outline-water-drop.png' %}" alt="" class="img">
                <p class="untxt">Водоснабжение</p>
            </div>
            <div class="icon">
                <img src="{% static 'STATICFILES_DIRS/img/outdoor_grill.png' %}" alt="" class="img">
                <p class="untxt">Мангал</p>
            </div>
            <div class="icon">
                <img src="{% static 'STATICFILES_DIRS/img/shower.png' %}" alt="" class="img">
                <p class="untxt">Баня&nbspс&nbspжаркой<br>парилкой&nbsp(до&nbsp120°)</p>
            </div>

        </div>
        <div class="rasp" id="rasp">Расположение</div>
        <div class="under_rasp">
            <div id="map">
                <script>
                    var map = L.map('map').setView([59.824217, 38.384868], 10);
                    data={};
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '© <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    var marker = L.marker([59.824217, 38.384868]);
                    marker.addTo(map);
                </script>
            </div>
            <div class="place">

                <div class="place_txt">
                    <div class="vertical_line_place"></div>
                    <div class="hui">
                        <div class="str">Вологодская&nbspобласть,&nbspКириллов,</div>
                        <div class="str">улица Калачёва д.57</div>
                        <div class="str">До Сиверского озера 250м</div>
                        <div class="str">Рядом с Экотелем</div>
                        <div class="str">От центра Кириллова&nbsp2,5 км</div>
                    </div>

                </div>
            </div>
        </div>




        <div id="book">Забронировать</div>
        <div class="under_book">
            <div class="custom">
                <div class="upper_txt">Конфигурация</div>
                <form>
                    <div class="__select" data-state="">
                        <div class="__select__title"></div>
                        <div class="__select__content">
                            <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                            <label for="singleSelect0" tabindex="0" class="__select__label" data-value="Только дом"></label>
                            <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect1" tabindex="0" class="__select__label" data-value="Баня"></label>
                            <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect2" tabindex="0" class="__select__label" data-value="Лодка"></label>
                            <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect3" tabindex="0" class="__select__label" data-value="Баня&nbspи&nbspлодка"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="custom">
                <div class="upper_txt">Заезд</div>

                <div class="under_txt">
                        <div class="first_date"> - </div>
                        <div class="open_arrow"> &#8744 </div>
                </div>
                <div class="contianer">
                    <div class="date_book" data-value="{{date_book}}"></div>
                    <div class="calendar">
                        <div class="calendar-header">

                            <div class="month-picker" id="month-picker">
                                <div class="year-change" id="pre-month">
                                    <div><</div>
                                </div>

                                <span id="month"> September </span>
                                <span id="year"> 2023 </span>

                                <div class="year-change" id="next-month">
                                    <div>></div>
                                </div>
                            </div>

                            <div class="year-picker" id="year-picker">
                                <span class="year-change" id="pre-year">
                                  <pre><</pre>
                                </span>

                                <span id="year"> 2023 </span>

                                <span class="year-change" id="next-year">
                                  <pre>></pre>
                                </span>

                            </div>
                        </div>

                        <div class="calendar-body">
                            <div class="calendar-week-days">
                                <div>Пн</div>
                                <div>Вт</div>
                                <div>Ср</div>
                                <div>Чт</div>
                                <div>Пт</div>
                                <div>Сб</div>
                                <div>Вс</div>
                            </div>
                            <div class="calendar-days">
                            </div>
                        </div>
                        <div class="month-list"></div>
                    </div>
                </div>
            </div>
            <div class="custom">
                    <div class="upper_txt">Выезд</div>
                    <div class="under_txt">
                        <div class="second_date">-</div>
                    </div>
            </div>
            <div class="custom">
                <div class="upper_txt">Взрослые&nbspи&nbspдети</div>
                <div class="under_txt" style="display: grid">

                    <div class="black_rect1">
                        <div class="pizda">
                            <div class="vagina">
                                <div class="big_txt">Взрослые</div>
                                <div class="small_txt">от 18 лет</div>
                            </div>
                            <div class="vagina">
                                <div class="big_txt">Дети</div>
                                <div class="small_txt">от 6 до 18 лет</div>
                            </div>
                        </div>

                        <div class='nechto'>
                            <div class="nechto1">
                                <div id="minus_middle_aged" class="minus">-</div>
                                <div id="middle_aged">0</div>
                                <div id="plus_middle_aged" class="plus">+</div>
                            </div>
                            <div class="nechto2">
                                <div id="minus_teen" class="minus">-</div>
                                <div id="teen">0</div>
                                <div id="plus_teen" class="plus">+</div>
                            </div>
                        </div>
                    <div>

                </div>

            </div>
            <div class="message">*дети до 6 лет - бесплатно</div>


    </div>
    </div>
        </div>
    <div id="show_price">
        <div id="that_is_all">Забронировать</div>
        <div id="final_price"></div>

    </div>
</div>
    <div class="that_is_all">
        <div class="black_rect2">
            <div class="cirkle_close" id="inf">
                <div class="close">+</div>
            </div>
            <div id="call">Связаться по номеру телефона или WhatsApp</div>
            <div class="black_rect3">
                <div id="phone" >+7 (911) 501-21-21</div>
            </div>
            <div class="black_rect4">
                <div id="phone1">WhatsApp</div>
            </div>
            <div class="mem">Пожалуйста, сообщите итоговую стоимость, дату поездки и количество проживающих</div>
        </div>
    </div>
    <div class="gallery_background">
        <div class="cirkle_close" id="gal">
                <div class="close">+</div>
            </div>
        <div class="choosed-img">
            <button id="prev-img" class="img-button material-symbols-rounded">chevron_left</button>
            <img src="{% static "STATICFILES_DIRS/img/IMG_2304.jpg"%}" alt="img-1" class="choose_img">
            <button id="next-img" class="img-button material-symbols-rounded">chevron_right</button>
        </div>
        <div class="cont">
            <div class="slider-wrapper">

                <button id="prev-slide" class="slide-button material-symbols-rounded">chevron_left</button>
                <div class="image-list">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2304.jpg"%}" alt="1" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2307.jpg"%}" alt="2" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2308.jpg"%}" alt="3" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2310.jpg"%}" alt="4" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2312.jpg"%}" alt="5" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2316.jpg"%}" alt="6" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2317.jpg"%}" alt="7" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2318.jpg"%}" alt="8" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2319.jpg"%}" alt="9" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2320.jpg"%}" alt="10" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2322.jpg"%}" alt="11" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2323.jpg"%}" alt="12" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2324.jpg"%}" alt="13" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2325.jpg"%}" alt="14" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2326.jpg"%}" alt="15" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2327.jpg"%}" alt="16" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2328.jpg"%}" alt="17" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2331.jpg"%}" alt="18" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2332.jpg"%}" alt="19" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2334.jpg"%}" alt="20" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2336.jpg"%}" alt="21" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2337.jpg"%}" alt="22" class="img-items">
                    <img src="{% static "STATICFILES_DIRS/img/IMG_2341.jpg"%}" alt="23" class="img-items">
                </div>
                <button id="next-slide" class="slide-button material-symbols-rounded">chevron_right</button>
            </div>
        </div>
    </div>

    <script>
        const plus_middle_aged = document.querySelector('#plus_middle_aged')
        const minus_middle_aged = document.querySelector('#minus_middle_aged')
        const title_middle_aged = document.querySelector('#middle_aged')
        const plus_teen= document.querySelector('#plus_teen')
        const minus_teen = document.querySelector('#minus_teen')
        const title_teen = document.querySelector('#teen')

        let middle_aged = 0
        minus_middle_aged.classList.add('.unused');
        plus_middle_aged.addEventListener('click',() => {
            middle_aged++;
            title_middle_aged.innerHTML = middle_aged.toString();
            title_middle_aged.setAttribute('data', middle_aged.toString());
            minus_middle_aged.classList.remove('.unused');
            document.querySelector('#final_price').setAttribute('middle_aged', middle_aged.toString());
            const final_price = document.querySelector("#final_price")
            let midle_aged = Number(final_price.getAttribute('middle_aged'));
            let ten = Number(final_price.getAttribute('teen'));
            let conf = Number(final_price.getAttribute('config'));
            let day = Number(final_price.getAttribute('days'));
            let kolichestvo = Number(final_price.getAttribute('k'));
            if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
            }
            else{
                final_price.innerHTML = (day).toString() + '&#8381';
            }

        })
        minus_middle_aged.addEventListener('click',() => {
            if(middle_aged === 0){
                minus_middle_aged.classList.add('.unused');
            }
            middle_aged--;
            title_middle_aged.setAttribute('data', middle_aged.toString())
            title_middle_aged.innerHTML = middle_aged.toString();
            document.querySelector('#final_price').setAttribute('middle_aged', middle_aged.toString());
            const final_price = document.querySelector("#final_price")
            let midle_aged = Number(final_price.getAttribute('middle_aged'));
            let ten = Number(final_price.getAttribute('teen'));
            let conf = Number(final_price.getAttribute('config'));
            let day = Number(final_price.getAttribute('days'));
            let kolichestvo = Number(final_price.getAttribute('k'));
            if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
            }
            else{
                final_price.innerHTML = (day).toString() + '&#8381';
            }
        })

        let teen = 0;
        minus_teen.classList.add('.unused');
        plus_teen.addEventListener('click',() => {
            teen++;
            title_teen.setAttribute('data', teen.toString())
            title_teen.innerHTML = teen.toString();
            minus_teen.classList.remove('.unused');
            document.querySelector('#final_price').setAttribute('teen', teen.toString());
            const final_price = document.querySelector("#final_price")
            let midle_aged = Number(final_price.getAttribute('middle_aged'));
            let ten = Number(final_price.getAttribute('teen'));
            let conf = Number(final_price.getAttribute('config'));
            let day = Number(final_price.getAttribute('days'));
            let kolichestvo = Number(final_price.getAttribute('k'));
            if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
            }
            else{
                final_price.innerHTML = (day).toString() + '&#8381';
            }
        })
        minus_teen.addEventListener('click',() => {
            if(teen === 0){
                minus_teen.classList.add('.unused');
            }
            teen--;
            title_teen.setAttribute('data', teen.toString())
            title_teen.innerHTML = teen.toString();
            document.querySelector('#final_price').setAttribute('teen', teen.toString());
            const final_price = document.querySelector("#final_price")
            let midle_aged = Number(final_price.getAttribute('middle_aged'));
            let ten = Number(final_price.getAttribute('teen'));
            let conf = Number(final_price.getAttribute('config'));
            let day = Number(final_price.getAttribute('days'));
            let kolichestvo = Number(final_price.getAttribute('k'));
            if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
            }
            else{
                final_price.innerHTML = (day).toString() + '&#8381';
            }

        })
    </script>

    <script>
        const selectSingle = document.querySelector('.__select');
        const selectSingle_title = selectSingle.querySelector('.__select__title');
        const selectSingle_labels = selectSingle.querySelectorAll('.__select__label');

        // Toggle menu
        selectSingle_title.addEventListener('click', () => {
          if ('active' === selectSingle.getAttribute('data-state')) {
            selectSingle.setAttribute('data-state', '');
          } else {
            selectSingle.setAttribute('data-state', 'active');
          }
        });
        document.querySelector('#final_price').setAttribute('config', "1");
        // Close when click to option
        for (let i = 0; i < selectSingle_labels.length; i++) {
          selectSingle_labels[i].addEventListener('click', (evt) => {
            selectSingle_title.textContent = evt.target.textContent;
            selectSingle.setAttribute('data-state', '');
            if(evt.target.getAttribute('data-value') === "Только дом"){
                document.querySelector('#final_price').setAttribute('config', "0");
                const final_price = document.querySelector("#final_price")
                let midle_aged = Number(final_price.getAttribute('middle_aged'));
                let ten = Number(final_price.getAttribute('teen'));
                let conf = Number(final_price.getAttribute('config'));
                let day = Number(final_price.getAttribute('days'));
                let kolichestvo = Number(final_price.getAttribute('k'));
                if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
            }
            else{
                final_price.innerHTML = (day).toString() + '&#8381';
            }
            }
            else if(evt.target.getAttribute('data-value') === "Баня"){
                document.querySelector('#final_price').setAttribute('config', "1");
                const final_price = document.querySelector("#final_price")
                let midle_aged = Number(final_price.getAttribute('middle_aged'));
                let ten = Number(final_price.getAttribute('teen'));
                let conf = Number(final_price.getAttribute('config'));
                let day = Number(final_price.getAttribute('days'));
                let kolichestvo = Number(final_price.getAttribute('k'));
                if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                    final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
                }
                else{
                    final_price.innerHTML = (day).toString() + '&#8381';
                }
            }
            else if(evt.target.getAttribute('data-value') === "Лодка"){
                document.querySelector('#final_price').setAttribute('config', "1");
                const final_price = document.querySelector("#final_price")
                let midle_aged = Number(final_price.getAttribute('middle_aged'));
                let ten = Number(final_price.getAttribute('teen'));
                let conf = Number(final_price.getAttribute('config'));
                let day = Number(final_price.getAttribute('days'));
                let kolichestvo = Number(final_price.getAttribute('k'));
                if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                    final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
                }
                else{
                    final_price.innerHTML = (day).toString() + '&#8381';
                }
            }
            else {
                document.querySelector('#final_price').setAttribute('config', "2");
                const final_price = document.querySelector("#final_price")
                let midle_aged = Number(final_price.getAttribute('middle_aged'));
                let ten = Number(final_price.getAttribute('teen'));
                let conf = Number(final_price.getAttribute('config'));
                let day = Number(final_price.getAttribute('days'));
                let kolichestvo = Number(final_price.getAttribute('k'));
                if((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000 > day){
                    final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * kolichestvo + kolichestvo * conf * 1000).toString() + '&#8381';
                }
                else{
                    final_price.innerHTML = (day).toString() + '&#8381';
                }
            }
          });
        }
    </script>





    <script>

        const isLeapYear = (year) => {
    return (
      (year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0) ||
      (year % 100 === 0 && year % 400 === 0)
    );
  };
  const getFebDays = (year) => {
    return isLeapYear(year) ? 29 : 28;
  };
  let calendar = document.querySelector('.calendar');

  const month_names = [
    'Январь',
    'Февраль',
    'Март',
    'Апрель',
    'Май',
    'Июнь',
    'Июль',
    'Август',
    'Сентябрь',
    'Октябрь',
    'Ноябрь',
    'Декабрь',
  ];

  let month_picker = document.querySelector('#month');
  const dayTextFormate = document.querySelector('.day-text-formate');
  const timeFormate = document.querySelector('.time-formate');
  const dateFormate = document.querySelector('.date-formate');
  month_picker.onclick = () => {
    month_list.classList.remove('hideonce');
    month_list.classList.remove('hide');
    month_list.classList.add('show');
    dayTextFormate.classList.remove('showtime');
    dayTextFormate.classList.add('hidetime');
    timeFormate.classList.remove('showtime');
    timeFormate.classList.add('hideTime');
    dateFormate.classList.remove('showtime');
    dateFormate.classList.add('hideTime');
  };
let dates = {};
let k = 0;
let price = 0;
let kol = 0
  const generateCalendar = (month, year) => {
    let calendar_days = document.querySelector('.calendar-days');
    calendar_days.innerHTML = '';
    let calendar_header_year = document.querySelector('#year');
    let calendar_header_month = document.querySelector('#month');

    let days_of_month = [
      31,
      getFebDays(year),
      31,
      30,
      31,
      30,
      31,
      31,
      30,
      31,
      30,
      31,
    ];

    let currentDate = new Date();

    month_picker.innerHTML = month_names[month];

    calendar_header_year.innerHTML = year;
    calendar_header_month.innerHTML = month_names[month];

    let first_day = new Date(year, month);
    let snd = first_day.getDay();
    if(snd === 0){
        snd += 7;
    }

    let book = document.querySelector('.date_book').getAttribute('data-value')
    //console.log(book)
  for (let i = 0; i <= days_of_month[month] + snd - 2; i++) {

      let day = document.createElement('div');
      if (i >= snd - 1) {
          let data = year.toString();
          data += '-' + (month + 1).toString() + '-' + (i - snd + 2).toString();
          //console.log(data);
          day.setAttribute('data', data);
          let id = 'days_of_month';
          day.setAttribute('id', id);
          day.setAttribute('name', data)
          day.setAttribute('class', data)
          qw = new Date(data)
          qw = qw.getDay()
          if(qw === 0 || qw === 6){
              day.setAttribute('price', '7500');
          }
          else {
              day.setAttribute('price', '5000');
          }
          day.setAttribute('k', '1');
          day.innerHTML = i - snd + 2;


        if (i - snd + 2 === currentDate.getDate() &&
          year === currentDate.getFullYear() &&
          month === currentDate.getMonth()
        ) {

          day.classList.add('current-date');

        }
        if(i - first_day.getDay() + 2 < currentDate.getDate() &&
            year <= currentDate.getFullYear() &&
            month <= currentDate.getMonth()
        ) {

            day.classList.add('previous-date');
        }
        if(month < currentDate.getMonth() && year <= currentDate.getFullYear()){

            day.classList.add('previous-date');
        }
        let k = 0;
        let r = 0
        let y = 0;
        let m = 0;
        let d0 = 0;
        let d1 = 0;
        for(let j = 0; j < book.length ; j++){
            if(book[j] === '-'){
                k += 1;
                continue;
            }
            if(book[j] === ' '){
                if (i - snd + 2 >= d0 && i - snd + 2 <= d1 % 100 &&
                  year === y &&
                  month === m - 1
                ) {


                  day.classList.add('previous-date');}
                k = 0;
                y = 0;
                m = 0;
                if(r % 2 === 1){
                    d0 = 0;
                }
                r += 1;
                continue;
            }
            if(k === 0){
                if(y === 0){
                    y += Number(book[j]);
                }
                else{
                    y *= 10;
                    y += Number(book[j])
                }
            }
            if(k === 1){
                if(m === 0){
                    m += Number(book[j]);
                }
                else{
                    m *= 10;
                    m += Number(book[j])
                }
            }
            if(k === 2){
                if(r % 2 === 0) {
                    if (d0 === 0) {
                        d0 += Number(book[j]);
                    } else {
                        d0 *= 10;
                        d0 += Number(book[j])
                    }
                    d1 = d0;
                }
                else{
                    if (d1 === 0) {
                        d1 += Number(book[j]);
                    } else {
                        d1 *= 10;
                        d1 += Number(book[j])
                    }
                }
            }




        //console.log(y, ' ', m, ' ', d0, d1)


        }
      }
      calendar_days.appendChild(day);
    }
    if(Object.keys(dates).length === 2) {

        if (dates[0].getMonth() === dates[1].getMonth()) {
            for (let i = dates[0].getDate(); i <= dates[1].getDate(); i++) {
                str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                el = document.querySelectorAll("#days_of_month")
                el.forEach(i => {
                    if (i.getAttribute('data') === str1) {
                        i.classList.add('choosed-date');
                    }
                })
            }
        }

        if(dates[0].getMonth() < dates[1].getMonth()){

                    for(let i = dates[0].getDate(); i <= days_of_month[dates[0].getMonth()]; i++){
                        str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                        console.log(str1);
                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('name') ,' ', str1)

                            if (i.getAttribute('name') === str1){
                                i.classList.add('choosed-date');

                            }
                        })
                    }
                    for(let i = 1; i <= dates[1].getDate(); i++){
                        str1 = dates[1].getFullYear().toString() + '-' + (dates[1].getMonth() + 1).toString() + '-' + i.toString();

                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('data') ,' ', str1)

                            if (i.getAttribute('name') === str1){
                                i.classList.add('choosed-date');

                            }
                        })
                    }
                }

        if(dates[0].getMonth() > dates[1].getMonth()){
            for(let i = dates[0].getDate(); i <= days_of_month[dates[0].getMonth()]; i++){
                str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                console.log(str1);
                el = document.querySelectorAll("#days_of_month")
                el.forEach(i => {
                    console.log(i.getAttribute('name') ,' ', str1)

                    if (i.getAttribute('name') === str1){
                        i.classList.add('choosed-date');

                    }
                })
            }
            for(let i = 1; i <= dates[1].getDate(); i++){
                str1 = dates[1].getFullYear().toString() + '-' + (dates[1].getMonth() + 1).toString() + '-' + i.toString();

                el = document.querySelectorAll("#days_of_month")
                el.forEach(i => {
                    console.log(i.getAttribute('data') ,' ', str1)

                    if (i.getAttribute('name') === str1){
                        i.classList.add('choosed-date');

                    }
                })
            }
        }
    }
    const days = document.querySelectorAll('#days_of_month');
        days.forEach(date => {
           date.addEventListener('click', (evt) => {
               const date1 = new Date(evt.target.attributes.data.nodeValue)
                dates[k] = date1;

            k++;
            console.log(dates);
            if(Object.keys(dates).length === 2){
                document.querySelector('.contianer').classList.remove('calendar_visible')
                document.querySelector('.first_date').innerHTML = dates[0].getDate() + '.' + Number(dates[0].getMonth() + 1) + '.' + dates[0].getFullYear();
                document.querySelector('.second_date').innerHTML = dates[1].getDate() + '.' + Number(dates[1].getMonth() + 1)+ '.' + dates[1].getFullYear();
                let str1 = ""
                if(dates[0].getMonth() === dates[1].getMonth()){
                    for(let i = dates[0].getDate(); i <= dates[1].getDate(); i++){
                        str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            if (i.getAttribute('data') === str1){
                                price += Number(i.getAttribute('price'))
                                kol += 1;
                                i.classList.add('choosed-date');
                            }
                        })
                    }
                }


                if(dates[0].getMonth() > dates[1].getMonth()){

                    for(let i = dates[0].getDate(); i <= days_of_month[dates[0].getMonth()]; i++){
                        str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                        console.log(str1);
                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('name') ,' ', str1)
                            if (i.getAttribute('name') === str1){
                                price += Number(i.getAttribute('price'))
                                kol += 1;
                                i.classList.add('choosed-date');
                            }
                        })
                    }
                    for(let i = 1; i <= dates[1].getDate(); i++){
                        str1 = dates[1].getFullYear().toString() + '-' + (dates[1].getMonth() + 1).toString() + '-' + i.toString();

                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('data') ,' ', str1)
                            if (i.getAttribute('name') === str1){
                                price += Number(i.getAttribute('price'))
                                kol += 1;
                                i.classList.add('choosed-date');

                            }
                        })
                    }
                }



                if(dates[0].getMonth() < dates[1].getMonth()){

                    for(let i = dates[0].getDate(); i <= days_of_month[dates[0].getMonth()]; i++){
                        str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                        console.log(str1);
                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('name') ,' ', str1)

                            if (i.getAttribute('name') === str1){
                                price += Number(i.getAttribute('price'))
                                kol += 1;
                                i.classList.add('choosed-date');

                            }
                        })
                    }
                    for(let i = 1; i <= dates[1].getDate(); i++){
                        str1 = dates[1].getFullYear().toString() + '-' + (dates[1].getMonth() + 1).toString() + '-' + i.toString();

                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('data') ,' ', str1)
                            if (i.getAttribute('name') === str1){
                                price += Number(i.getAttribute('price'))
                                kol += 1;
                                i.classList.add('choosed-date');

                            }
                        })
                    }
                }
            console.log('AAAAAAAAAAAAAAAAAAAAAAAAA', price);
                document.querySelector('#final_price').setAttribute('days', price);
                document.querySelector('#final_price').setAttribute('k', kol);
                const final_price = document.querySelector("#final_price")
                let midle_aged = Number(final_price.getAttribute('middle_aged'));
                let ten = Number(final_price.getAttribute('teen'));
                let conf = Number(final_price.getAttribute('config'));
                let day = Number(final_price.getAttribute('days'));
                let kolichestvo = Number(final_price.getAttribute('k'));
                if((midle_aged * 1000 + ten * 500) * day + kolichestvo * conf * 1000 > day){
                    final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * day + kolichestvo * conf * 1000).toString() + '&#8381';
                }
                else{
                    final_price.innerHTML = (day).toString() + '&#8381';
                }
            }



            if(k % 3 === 0){
                price = 0;
                kol = 0;
                document.querySelector('.first_date').innerHTML = " - ";
                document.querySelector('.second_date').innerHTML = " - ";
                document.querySelector('#final_price').setAttribute('days', price);
                document.querySelector('#final_price').setAttribute('k', kol);
                const final_price = document.querySelector("#final_price")
                let midle_aged = Number(final_price.getAttribute('middle_aged'));
                let ten = Number(final_price.getAttribute('teen'));
                let conf = Number(final_price.getAttribute('config'));
                let day = Number(final_price.getAttribute('days'));
                let kolichestvo = Number(final_price.getAttribute('k'));
                if((midle_aged * 1000 + ten * 500) * day + kolichestvo * conf * 1000 > day){
                    final_price.innerHTML = ((midle_aged * 1000 + ten * 500) * day + kolichestvo * conf * 1000).toString() + '&#8381';
                }
                else{
                    final_price.innerHTML = (day).toString() + '&#8381';
                }






                if(dates[0].getMonth() === dates[1].getMonth()){
                    for(let i = dates[0].getDate(); i <= dates[1].getDate(); i++){
                        str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            if (i.getAttribute('data') === str1){
                                i.classList.remove('choosed-date');
                            }
                        })
                    }
                }


                if(dates[0].getMonth() > dates[1].getMonth()){

                    for(let i = dates[0].getDate(); i <= days_of_month[dates[0].getMonth()]; i++){
                        str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                        console.log(str1);
                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('name') ,' ', str1)

                            if (i.getAttribute('name') === str1){
                                i.classList.remove('choosed-date');

                            }
                        })
                    }
                    for(let i = 1; i <= dates[1].getDate(); i++){
                        str1 = dates[1].getFullYear().toString() + '-' + (dates[1].getMonth() + 1).toString() + '-' + i.toString();

                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('data') ,' ', str1)

                            if (i.getAttribute('name') === str1){
                                i.classList.remove('choosed-date');

                            }
                        })
                    }
                }



                if(dates[0].getMonth() < dates[1].getMonth()){

                    for(let i = dates[0].getDate(); i <= days_of_month[dates[0].getMonth()]; i++){
                        str1 = dates[0].getFullYear().toString() + '-' + (dates[0].getMonth() + 1).toString() + '-' + i.toString();
                        console.log(str1);
                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('name') ,' ', str1)

                            if (i.getAttribute('name') === str1){
                                i.classList.remove('choosed-date');

                            }
                        })
                    }
                    for(let i = 1; i <= dates[1].getDate(); i++){
                        str1 = dates[1].getFullYear().toString() + '-' + (dates[1].getMonth() + 1).toString() + '-' + i.toString();

                        el = document.querySelectorAll("#days_of_month")
                        el.forEach(i => {
                            console.log(i.getAttribute('data') ,' ', str1)

                            if (i.getAttribute('name') === str1){
                                i.classList.remove('choosed-date');

                            }
                        })
                    }
                }
                for(var i in dates) delete dates[i];
                k = 0;
                console.log(dates);
            }

       });
       })
  };

  let month_list = calendar.querySelector('.month-list');
  month_names.forEach((e, index) => {
    let month = document.createElement('div');
    month.innerHTML = `<div>${e}</div>`;

    month_list.append(month);
    month.onclick = () => {
      currentMonth.value = index;
      generateCalendar(currentMonth.value, currentYear.value);

      month_list.classList.replace('show', 'hide');
      dayTextFormate.classList.remove('hideTime');
      dayTextFormate.classList.add('showtime');
      timeFormate.classList.remove('hideTime');
      timeFormate.classList.add('showtime');
      dateFormate.classList.remove('hideTime');
      dateFormate.classList.add('showtime');

    };
  });

  (function () {
    month_list.classList.add('hideonce');
  })();

  document.querySelector('#pre-month').onclick = () => {
      if(currentMonth.value > 0) {
          --currentMonth.value;
          generateCalendar(currentMonth.value, currentYear.value);

      }
      else{
          currentMonth.value += 11;
          --currentYear.value;
          generateCalendar(currentMonth.value, currentYear.value);
          //console.log(currentMonth.value)

      }

  }

  document.querySelector('#next-month').onclick = () => {
      if(currentMonth.value < 11) {
          ++currentMonth.value;
          generateCalendar(currentMonth.value, currentYear.value);
          //console.log(currentMonth.value)

      }
      else{
          currentMonth.value -= 11;
          currentYear.value++;
          generateCalendar(currentMonth.value, currentYear.value);
          //console.log(currentMonth.value)
      }

  }


  let currentDate = new Date();
  let currentMonth = { value: currentDate.getMonth() };
  let currentYear = { value: currentDate.getFullYear() };
  generateCalendar(currentMonth.value, currentYear.value);

  const todayShowTime = document.querySelector('.time-formate');
  const todayShowDate = document.querySelector('.date-formate');

  const currshowDate = new Date();
  const showCurrentDateOption = {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    weekday: 'long',
  };
  </script>
    <script>
        const book = document.querySelector('#that_is_all');
        book.addEventListener('click', () => {

            $("body").addClass("blur-all");
           document.querySelector('.that_is_all').classList.toggle('visible')
        })
        document.querySelector('#inf').addEventListener('click', ()=>{
            $("body").removeClass("blur-all");
            document.querySelector('.that_is_all').classList.remove('visible')
            document.querySelector('.gallery_background').classList.remove('visible_gallery')
        })
        document.querySelector('.open_arrow').addEventListener('click', () => {
            document.querySelector('.contianer').classList.toggle('calendar_visible')
        })
    </script>
    <script>
        const init_Slider = () => {
            const imageList = document.querySelector(".image-list");
            const slideButtons = document.querySelectorAll(".slider-wrapper .slide-button");

            slideButtons.forEach(button => {

                button.addEventListener("click", () => {
                    let direction = 0;
                    if(button.getAttribute("id") === "prev-slide"){
                        direction = -1;
                    }
                    else{
                        direction = 1;
                    }
                    const scrollAmount = imageList.clientWidth * direction;
                    console.log(imageList);
                    imageList.scrollBy({left: scrollAmount, behavior: "smooth"})
                });
            });
        }
            window.addEventListener("load", init_Slider)
        const img_list = [
            "static/STATICFILES_DIRS/img/IMG_2304.jpg",
            "static/STATICFILES_DIRS/img/IMG_2307.jpg",
            "static/STATICFILES_DIRS/img/IMG_2308.jpg",
            "static/STATICFILES_DIRS/img/IMG_2310.jpg",
            "static/STATICFILES_DIRS/img/IMG_2312.jpg",
            "static/STATICFILES_DIRS/img/IMG_2316.jpg",
            "static/STATICFILES_DIRS/img/IMG_2317.jpg",
            "static/STATICFILES_DIRS/img/IMG_2318.jpg",
            "static/STATICFILES_DIRS/img/IMG_2319.jpg",
            "static/STATICFILES_DIRS/img/IMG_2320.jpg",
            "static/STATICFILES_DIRS/img/IMG_2322.jpg",
            "static/STATICFILES_DIRS/img/IMG_2323.jpg",
            "static/STATICFILES_DIRS/img/IMG_2324.jpg",
            "static/STATICFILES_DIRS/img/IMG_2325.jpg",
            "static/STATICFILES_DIRS/img/IMG_2326.jpg",
            "static/STATICFILES_DIRS/img/IMG_2327.jpg",
            "static/STATICFILES_DIRS/img/IMG_2328.jpg",
            "static/STATICFILES_DIRS/img/IMG_2331.jpg",
            "static/STATICFILES_DIRS/img/IMG_2332.jpg",
            "static/STATICFILES_DIRS/img/IMG_2334.jpg",
            "static/STATICFILES_DIRS/img/IMG_2336.jpg",
            "static/STATICFILES_DIRS/img/IMG_2337.jpg",
            "static/STATICFILES_DIRS/img/IMG_2341.jpg",
        ]
        const cur_img = document.querySelector('.choose_img')
        const next = document.querySelector('#next-img')
        const prev = document.querySelector('#prev-img');
        let Numimg = 0;
        cur_img.setAttribute('src', img_list[Numimg])
        next.addEventListener('click', () => {
            if(Numimg === 22){
                Numimg = 0;
            }
            else {
                Numimg++;
            }
            cur_img.setAttribute('src', img_list[Numimg])
            console.log(cur_img)
        })
        prev.addEventListener('click', () => {

            if(Numimg === 0){
                Numimg = 22;
            }
            else {
                Numimg--;
            }

            cur_img.setAttribute('src', img_list[Numimg])
            console.log(cur_img);
        })
        const Allimg = document.querySelectorAll('.img-items');
        Allimg.forEach((e) => {
            e.addEventListener('click', () => {
                let ind = Number(e.getAttribute('alt'));
                Numimg = ind - 1;
                cur_img.setAttribute('src', img_list[Numimg]);
            })
        })
    </script>

    <script>
        document.querySelector('#gallery').addEventListener('click', () => {
            $("body").addClass("blur-all");
           document.querySelector('.gallery_background').classList.add('visible_gallery')
        });
        document.querySelector('#gal').addEventListener('click',() => {
            $("body").removeClass("blur-all");
           document.querySelector('.gallery_background').classList.remove('visible_gallery')
        })
    </script>
</body>
</html>